@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .triangle {
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, 0.48);
    align-self: center;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
